body {
	width: 250px;
	margin: 0 auto;
	text-align: center;
}

html{
	background:#f0f0f0;
	padding:20px;
}


/*********************/
/* STARTING PAGE CSS */
/*********************/

h2 {
	color: #FFA07A;
}

h4 {
	color: rgb(180,180,180);
	font-weight: lighter;
}

input, select {
	padding: 5px 10px;
	font-family: monospace;
	/*box-sizing: border-box;*/
}

input#time_value {
	width: 60px;
}

#error_msg {
	color: red;
}

#countdown_confirmation {
	color: rgb(180,180,180);
}

/***********************/
/* COUNT DOWN PAGE CSS */
/***********************/

#countdown_display {
	font-weight: bold;
}

#countdown_timer {
	font-size: 20px;
	color: #FFA07A;
}

#today, #deadline {
	font-size: 12px;
	color: rgb(180,180,180);
	font-weight: lighter;
}

#expired {
	color: red;
}

#reset_confirmation {
	color: rgb(180,180,180);
}

